.DS_Store
.build/
**/.gemini/logs/*
Examples/ASRDemo1/ASRDemo1.xcodeproj/project.xcworkspace/xcuserdata/kafka.xcuserdatad/UserInterfaceState.xcuserstate
Examples/ASRDemo2/ASRDemo2.xcodeproj/project.xcworkspace/xcuserdata/kafka.xcuserdatad/UserInterfaceState.xcuserstate
